<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GrandPy Bot</title>    
    <meta name="description" content="Posez-lui une question sur un lieu et il répondra !">
    <meta name="author" content="Baptiste Fina">
    <meta name="Language" content="fr">    

    <!-- CSS : -->
    <!--
    <link href="../../bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>


<body>
	<header>
	<div class="container-fluid header">
		<div class="row">
			<div class="col-lg-1 col-md-1 col- col-sm-1 col-xs-1">
				<img src="../static/logo.png" alt="logo" class="responsive">
			</div>
			<div class="col-lg-10 col-md-8 col-xs-10 bordure">
				<h3 style="font-size:2vw;">
					Bienvenue chez GrandPy Bot ! <br/>Posez-lui une question sur un lieu et il vous renseignera !
				</h3>
			</div>
		</div>
	</div> <!-- Fin class container-fluid -->
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center title" style="font-size:6vw;"> <span id="GrandPy">GrandPy</span> Bot</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-10 form">
				<form method="post">
   					<p><input type="text" action="" name="question" class="form-control" placeholder="Posez votre question"/ required=""> </p>
				</form>
			</div>			
			<div class="col-lg-2 bouton">
				<button type="button" class="btn btn-primary btn-block" id="click">Entrée</button>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-lg-12" id="text_grandpy" >
			</div>
			<div class="col-2 col-sm-2 col-md-2 col-lg-2 align-self-center responsive">
				<img src="../static/logo.png" alt="animation" id="animation">
			</div>
		</div>
		
		<div class="row col-lg-12" id="gmap">
		</div>
	</div> <!-- Fin class container -->
	<div class="container-fluid">
		<div class="row">
			<footer class="footer">
				<a href="https://github.com/Palombredun/Projet7.git" target="blank" title="Lien GitHub" style="font-size:1.5vw;">GitHub</a>
			</footer>
		</div>
	</div>

<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
</script>
<script>
  function answer(text_grandpy, gmap, lat, lng, textGrandPy, wiki) {

  }

  $(function() {
    $('#click').click(function() {
    	$('#text_grandpy').hide();
    	$('#gmap').hide()
    	$('#animation').fadeIn(1500, 'swing').fadeOut(1500, 'swing').fadeIn(1500, 'swing').fadeOut(1500, 'linear');
    	setTimeout (function() {
    		$('#text_grandpy').show().load('maj1.html');
    	}, 6000);
    	$('#text_grandpy').show()
    });
  });
</script>

</body>


</html>