<!DOCTYPE html>
<html>
  <body>   
    <div class="row">
      <div id='textBot'>
        {{ textBot }}
        <a href= {{ linkWiki }} target="blank" title="Link Wikipedia" style="font-size:1.5vw;">[En savoir   plus]</a>
        <br>
      </div>
    </div>
    <div id="map" style="width:100%;height:400px;"></div>

    <script>
      function initMap() {
        var myLatLng = {lat: {{ latitude }}, lng: {{ longitude }} };

        // Create a map object and specify the DOM element
        // for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 17
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'map grandpy bot'
        });
      }
    </script>

    <script src= {{ script_src }}
        async defer></script>
  </body>
</html>